.theme-dark {
  background: $colorDark;
  .title-bar {
    h1 {
      color: #fff;
    }
    i {
      color: $colorGray;
    }
  }
  .time-dial {
    .dial-fill-work {
      stroke: $colorRed;
    }
    .dial-time {
      color: #fff;
    }
    .dial-stage {
      color: #fff;
    }
  }
  .time-controller {
    i {
      color: #fff;
    }
  }
  .round-info {
    color: #fff;
  }
  .drawer {
    .tabs {
      background: $colorDark;
      color: #fff;
      .tab.active span {
        border-bottom: 2px solid $colorRed;
      }
    }
    .setting {
      background: #3D4457;
      color: $colorGray;
      .setting-item {
        > h5 {
          color: $colorGray;
        }
        > span{
          background-color: $colorDark;
          color: #fff;
        }
        .ant-slider-rail {
          background: $colorDark;
        }
        .ant-slider-track {
          background: $colorRed;
        }
        .ant-slider-handle {
          border: solid 2px $colorRed;
        }

      }
      .setting-switch-item {
        .ant-switch.ant-switch-checked {
          background: $colorRed;
        }
        a {
          color: #fff;
        }
      }
    }
    .data-center {
      .icon-export {
        color: $colorGray;
      }
      .today-board > div span {
        color: $colorRed;
      }
      .chart-controll i:not(.disabled),
      .chart-controll .date {
        color: $colorRed;
      }
      .v-charts-data-empty {
        background-color: rgba(47, 56, 75, 0.44);
      }
    }

  }
}